{% extends "app/base.html" %}
{% load static %}
{% block title %}
Address
{% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3>Hoş Geldin,
            <span class="text-capitalize">
                {{request.user}}
            </span>
        </h3>


        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid">
                    <a href="{% url 'profile' %}" class="btn">Profile</a>
                </li>
                <li class="d-grid">
                    <a href="{% url 'address' %}" class="btn btn-primary">Adres</a>
                </li>
            </ul>
        </div>

        <div class="col-sm-8 offset-sm-1">
            <div class="row">
                {% for ad in add %}
                <div class="col-sm-6">
                    <div class="card m-2">
                        <div class="card-body">
                            <h3>Adres: {{forloop.counter}}</h3>
                            <p>Ad: {{ad.name}}</p>
                            <p>Ülke: {{ad.locality}}</p>
                            <p>Cep: {{ad.mobile}}</p>
                            <p>Şehir: {{ad.city}}</p>
                            <p>Semt: {{ad.state}}</p>
                            <p>Posta Kodu: {{ad.zipcode}}</p>
                            <p class="text-center">
                                <a href="{% url 'updateAddress' pk=ad.id %}" type="button" class="btn btn-success">Güncelle</a>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock main-content %}