{% extends "app/base.html" %}
{% load static %}

{% block title %}
    Giriş Yap
{% endblock title %}

{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3 class="text-center">Giriş Yap</h3>
            <hr>
            <form action="" method="post" novalidate class="shadow p-5">
                {% csrf_token %}
                {% for fm in form %}
                    {{fm.label_tag}} {{fm}}
                    <small class="text-danger">{{fm.errors|striptags}}</small>
                    <br>
                {% endfor %}

                <small>
                    <a href="{% url 'password_reset' %}">Şifrenizi mi unuttunuz ?</a>
                </small>
                <br>
                <input type="submit" value="Giriş Yap" class="btn btn-primary mt-4">
                <div class="text-center text-primary fw-bold">
                    <small>Yeni Hesap?
                        <a href="{% url 'customerregistration' %}" class="text-danger">Bir Hesap Oluşturun</a>
                    </small>
                </div>

                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="alert alert-danger my-3">{{error}}</p>
                    {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}