{% extends "app/base.html" %}
{% load static %}

{% block title %}
Customer Registration
{% endblock title %}

{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3 text-center">
            <h3>Reset Password Completed!</h3>
            <hr>
            <div>
                <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameborder="0" class="giphu-embed" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %} 